<h1>All Secrets</h1>
<table>
	<thead>
		<tr>
			<td>Secrets</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
	<% @secrets.each do |s| %>
		<tr>
			<td><%= s.content %></td>
			<td>
			<% if s.user == current_user %>
				<form action="/secrets/<%= s.id %>" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
			<% end %>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>
