<h1>All Secrets</h1>
<table>
	<thead>
		<tr>
			<td>Secrets</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
	<% @secrets.each do |s| %>
		<tr>
			<td><%= s.content %></td>
			<td>delete</td>
		</tr>
	<% end %>	
	</tbody>
</table>
